html{
    background-color: beige;
    text-align: center;
    margin-left: 450px;
}

body {
    font-family: helvetica, sans-serif;
    width: 350px;
}

label {
    font-weight: bold;
}

div {
    padding-bottom: 20px;

}

input[type="text"] {
    padding: 5px;
    width: 150px;
    border-width: 2px;
    background-color: skyblue;
}

p {
    padding: 10px;
    visibility: hidden;
}

button {
    border-width: 2px;
    background-color: skyblue;
    font-size: xx-large;
}